body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.conainer-carousel {
  width: 500px;
  height: 300px;
  background-color: darkgrey;
  box-shadow: 0 8 32px 0 rgba(0,0,0, 0.66);
}

.slider-section model-viewer {
  width: 500px;
}
